*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

header{
    width: 100%;
    height: 80px;
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #304B35;
}

.logo{
    display: flex;
}
.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.links{
    width: 45%;
    font-size:24px;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ebf3e2;
}

main{
    width: 100%;
    height: auto;
    background-color: #9CC5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ecomarathon{
    width: 100%;
    height: auto;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rt2050{
    width: 100%;
    height: auto;
    padding: 30px 60px; 
    background-color: #ebf3e2;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.txtm, .txtr, .imagem, .video{
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.txtm a{
    margin-top: 20px;   
    background: #ebf3e2;
    color: #1F2421;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    line-height: 1;
    padding: 10px 18px;
}

.txtm a:hover{
    background: #6CAE75;
    color: #ebf3e2;
}

.txtr a{
    margin-top: 20px;   
    background: #9CC5A1;
    color: #1F2421;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    line-height: 1;
    padding: 10px 18px;
}

.txtr a:hover{
    background: #6CAE75;
    color: #ebf3e2;
}

.carrinho, .videozinho{
    border-radius: 10px;
}

footer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape{
    width: 100%;
    height: auto;
    position: absolute;
}

.containerfooter1{
    width: 350px;
    height: auto;
    font-size:20px;
    color: #ebf3e2;
    margin-left: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    position: absolute;
}

.containerfooter2{
    width: auto;
    height: auto;   
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.txtm p, .txtr p{
    color: #1F2421;
    font-family:'Lucida';
    text-align: justify;
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.titulo1 h1, .titulo2 h1 {
    color: #1F2421;
    font-family: 'Ramaraja', serif;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    padding: 30px, 0px;
    height: auto;
}

.box2{
    padding: 30px, 0px;
    background-color: #ebf3e2;
    height: auto;
}

.box{
    width: 100%;
    height: 20vh;
    background-color: #ebf3e2;
}

@media (max-width: 1400px) and (min-width: 800px) {
    .links{
        width: 60%;
        font-size:22px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        width: auto;
        height: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .titulo1 h1, .titulo2 h1{
        font-size: 60px;
    }
    .txtm, .txtr{
        width:auto;
        height: auto;
    }
    .txtm p, .txtr p{
        width: auto;
        font-size: 20px;
    }
    .box1, .box2{
        width: 100%;
        height: auto;
    }
    .ecomarathon, .rt2050{
        width: 100%;
        height: auto;
    }
    .imagem, .video{
        width: 30;
        height: auto;
    }
    .box{
        width: 100%;
        height: 15vh;
        background-color: #ebf3e2;
    }
}

@media (max-width: 800px) and (min-width: 700px) {
    .links{
        width: 60%;
        font-size:20px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
    .titulo1 h1, .titulo2 h1{
        font-size: 50px;
    }
    .txtm p, .txtr p{
        width: auto;
        font-size: 18px;
    }
    .box1, .box2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-evenly;
        justify-content: center;
    }
    .ecomarathon, .rt2050{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-evenly;
        justify-content: center; 
    }
    .video{
        display:none;
    }
    .titulo1, .titulo2{
        width: 100%;
    }
    .ecomarathon, .rt2050{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titulo1 h1, .titulo2 h1{
        font-size: 50px;
    }
    .txtm p, .txtr p{
        font-size: 16px;
    }
    .box{
        width: 100%;
        height: 10vh;
        background-color: #ebf3e2;
    }
}


@media (max-width: 700px) and (min-width: 500px) {
    .links{
        width: 70%;
        font-size:15px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
    .titulo1 h1, .titulo2 h1{
        font-size: 35px;
    }
    .txtm p, .txtr p{
        width: auto;
        font-size: 14px;
    }
    .box1, .box2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-evenly;
        justify-content: center;
    }
    .ecomarathon, .rt2050{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-evenly;
        justify-content: center; 
    }
    .video{
        display:none;
    }
    .box{
        width: 100%;
        height: 5vh;
        background-color: #ebf3e2;
    }
}