*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #304B35;
}

.logo{
    display: flex;
}
.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.links{
    width: 45%;
    font-size:24px;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ebf3e2;
}


main{
    width: 100vw;
    height: 1300px;
    background-color: #9CC5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 100vw;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.texto{
    color: #1F2421;
    font-family:'Lucida';
    text-align: justify;
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.titulo{
    width: 100vw;
    color: #1F2421;
    font-family:'Lucida handwriting';
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms{
    width:65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.box{
    width: 100%;
    height:100px;
    background-color:#9CC5A1;
}

input[type=text]{
    height: 35px;
    width:60vw;
    padding: 5px 15px;
    font-family: 'Times New Roman';
    background-color: #f6fff8;
}

select{
    height: 35px;
    width:60vw;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #f6fff8;
}

footer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape{
    width: 100%;
    height: auto;
    position: absolute;
}

.containerfooter1{
    width: 350px;
    height: auto;
    font-size:20px;
    color: #ebf3e2;
    margin-left: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    position: absolute;
}

.containerfooter2{
    width: auto;
    height: auto;   
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

@media (max-width: 1400px) and (min-width: 800px) {
    .links{
        width: 60%;
        font-size:22px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 800px) and (min-width: 700px) {
    .links{
        width: 60%;
        font-size:20px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 700px) and (min-width: 500px) {
    .links{
        width: 70%;
        font-size:15px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}