*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 80px;
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #304B35;
}

.logo{
    display: flex;
}
.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.links{
    width: 45%;
    font-size:24px;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ebf3e2;
}

main{
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image:  url('imagens/3.png');
    background-size: auto;
}

.box{
    width: 70%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba( 221, 231, 199, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 58, 90, 64, 1 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.texto{
    color: #1F2421;
    font-family:'Times New Roman';
    text-align: justify;
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.enviar{
    font-family:'Times New Roman';
}

.forms{
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Times New Roman';
}


input[type=text]{
    height: 35px;
    width:60%;
    padding: 5px 15px;
    font-family: 'Times New Roman';
    background-color: #f6fff8;
    border-radius: 20px;
    border: #ebf3e2;
}

select{
    height: 35px;
    width:60%;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #f6fff8;
    border-radius: 20px;
    border: #ebf3e2;
}
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
footer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape{
    width: 100%;
    height: auto;
    position: absolute;
}

.containerfooter1{
    width: 350px;
    height: auto;
    font-size:20px;
    color: #ebf3e2;
    margin-left: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    position: absolute;
}

.containerfooter2{
    width: auto;
    height: auto;   
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.letras {
    color: #1F2421;
    font-size: 1.2em;
}
button {
    font-size: 1em;
    padding: 0.6em;
    border-radius: 25px;
    background-color: #ebf3e2;
    color: #304B35;
    border: #ebf3e2;
}
button:hover{
    background-color: #304B35;
    color: #ebf3e2;
    border: #304B35;
}

.titulo{
    width: 100%;
    color: #1F2421;
    font-family: 'Ramaraja', serif;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

@media (max-width: 1400px) and (min-width: 800px) {
    .links{
        width: 60%;
        font-size:22px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
    .titulo{
        width: 100%;
        color: #1F2421;
        font-family: 'Ramaraja', serif;
        font-size: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}

@media (max-width: 800px) and (min-width: 700px) {
    .links{
        width: 60%;
        font-size:20px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
    .titulo{
        width: 100%;
        color: #ebf3e2;
        font-family: 'Ramaraja', serif;
        font-size: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media (max-width: 700px) {
    .links{
        width: 70%;
        font-size:15px;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
    .titulo{
        width: 100%;
        color: #ebf3e2;
        font-family: 'Ramaraja', serif;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
}