*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Times New Roman', Times, serif;

}

#nav-checkbox, .nav-toggle{
    display:none;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url("imagens/EquipeEditado.jpg") no-repeat fixed bottom / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo{
    font-family: 'Ramaraja', serif;
}

.hero h1{
    color: #F6FFF8;
    font-size:75px;
    line-height:1;
}

.hero h3{
    color: #F6FFF8;
    font-size:30px;
    font-weight:normal;;
    margin: 15px 0px;
}

.hero a{
    background: #F6FFF8;
    color: #304B35;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 18px;
}

.hero a:hover{
    background: #6CAE75;
    color: #F6FFF8;
}

.content{
    width: 100%;
    height:auto;
    margin: auto;
    background-color: #9CC5A1;
}

.box1{
    width: 100%;
    padding: 30px 20px;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.box2{
    width: 100%;
    padding: 30px 20px;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#ebf3e2
}

.texto{
    width: 40%;
    font-size: 25px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.icones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icones2 p{
    width: auto;
    font-size:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content a{
    text-decoration: none;
    color:#1F2421;
    font-size: 90px;
    font-weight: bold;
}
.content p {
    line-height:1.6;
    margin-bottom: 25px;
}

.iconeimagem{
    height: 90px;
    width: 90px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    transition: background-color 0.5 ease;
}

.logo:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: #F6FFF8;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px 15px;
}

.nav-menu li a:hover{
    color:#6CAE75;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.active{
    background-color: #304B35;
}

.active a:hover{
    color:#F6FFF8 !important;
}

.patrocinio{
    width:50%;  
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.patrocinio img{
    width: 30%;
    margin-bottom: 3em;
}

.box{
    height:30vh;
    background-color:#9CC5A1;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media only screen and (max-width: 1000px){
    header{
        display: block;
    }
    .logo{
        margin-left: 15px;
    }
    .nav-toggle{
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }
    .nav-toggle img{
        width: 25px;
    }
    .close,
    input[type='checkbox']{
        display: none;
    }
    #nav-checkbox:Checked ~ .nav-menu{
        background: #304B35;
        margin-top: 10px;
        padding: 10px 0;
        border-top: 1px solid #F6FFF8
    }
    .nav-menu li{
        display: none;
        margin: 10px 0;
    }
    #nav-checkbox:checked ~ ul.nav-menu li{
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open{
        display: none;
    }
    #nav-checkbox:checked ~ label.nav-toggle .close{
        display: block;
    }
    .hero h1{
        font-size:46px;
    }
    .hero h3{
        font-size:22px;
    }
    .box1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box2{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
        .links{
        width: 60%;
        font-size:20px;
    }
    main{
        height:auto;
    }
    .box1{
        padding: 40px 0px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .titulo a{
        font-size: 48px;
    }
    .texto{
        width:97.5%;
        font-size: 20px;
    }
    .box2{
        padding: 20px 0px;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:center;
    }
    .imagem{
        width: 97.5%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}

footer{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape{
    width: 100%;
    height: auto;
    position: absolute;
}

.containerfooter1{
    width: 350px;
    height: auto;
    font-size:20px;
    color: #ebf3e2;
    margin-left: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    position: absolute;
}

.containerfooter2{
    width: auto;
    height: auto;   
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/*@media (max-width: 1400px) and (min-width: 800px) {
    .links{
        width: 60%;
        font-size:22px;
    }
    main{
        height:auto;
    }
    .box1{
        padding: 20px 0px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:space-between;
    }
    .titulo{
        width:97.5%;
    }
    .texto{
        width:97.5%;
    }
    .box2{
        padding: 20px 0px;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items:space-evenly;
    }
    .imagem{
        width: 97.5%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 800px) and (min-width: 700px) {

}

@media (max-width: 700px) and (min-width: 500px) {
    .box1{
        padding: 20px 0px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:space-between;
    }
    .titulo{
        width:97.5%;
        font-size: 15px;
    }
    .texto{
        width:97.5%;
        font-size: 18px;
    }
    .box2{
        width:100%;
        padding: 20px 30px;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerfooter1 p{
        font-size: 0.1px;
        color:#1F2421
    }
    .containerfooter2{
        display: none;
        visibility: hidden;
    }
}*/