*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #49A078;
}

.logo{
    display: flex;
}
.links{
    padding: 0px 15px;
    font-size:20px;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1F2421;
}

main{
    width: 100vw;
    background-color: #9CC5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box1{
    width: 97.5vw;
    padding: 5px 20px;
    border-radius: 20px;
}

.titulo{
    color: #1F2421;
    font-family:'Lucida handwriting';
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto{
    color: #1F2421;
    font-family:'Lucida';
    text-align: justify;
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.box2{
    width: 100vw;
    padding: 5px 20px;
    background-color: #49A078;
}

.box2 h1{
    color: #1F2421;
    font-family:'Lucida handwriting';
    font-size: 75px;
}

@media (min-width: 1100px) {
    main{
        height:1500px;
    }
    .box1{
        height:480px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .titulo{
        width:40vw;
    }
    .texto{
        width:55vw;
    }
    .box2{
        height:480px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
    .imagem{
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
}

@media (max-width: 1100){
    main{
        height:3000px;
    }
    .box1{
        height:990px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:space-between;
    }
    .titulo{
        width:97.5vw;
    }
    .texto{
        width:97.5vw;
    }
    .box2{
        height:990px;
        display: flex;
        flex-direction: column;
        justify-content:column;
        align-items:space-between;
    }
    .imagem{
        width: 97.5vw;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }
}

footer{
    width: 100vw;
    height: 60px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #49A078;
}